<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('welcome?lang=' + selectedOption);
			}
		});
	});
</script>
<head>
<title>Spring Boot and Thymeleaf example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Spring Boot and Thymeleaf</h3>
	<span th:text="#{lang.change}"></span>:
	<select id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="fr" th:text="#{lang.fr}"></option>
	</select>
	<h1 th:text="#{welcome.text}">FooBar</h1>
	<h1 th:text="#{Greeting}">FooBar</h1>
</body>

</html>